html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }

// Css for better responsive grid
.mat-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0;
  overflow-x: auto;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0 5px !important;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.mat-cell[contenteditable]:focus {
  text-overflow: clip;
  overflow-y: unset;
  white-space: break-spaces;
  word-break: break-word;
}
